@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
.logo {
    background-image: url("data:image/svg+xml,%3Csvg width='90' height='52' viewBox='0 0 90 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M88.8114 18.5215C87.2722 14.8998 84.3586 12.0131 80.6912 10.4761C78.8312 9.68392 76.8347 9.28782 74.7018 9.28782C72.6593 9.27398 70.6361 9.67891 68.7609 10.4769C65.0928 12.0243 62.172 14.9061 60.6068 18.5222C59.8103 20.3792 59.3999 22.3747 59.3999 24.3906C59.3999 26.4066 59.8103 28.4021 60.6068 30.259C61.3814 32.0485 62.499 33.6739 63.8985 35.0464C65.2988 36.4126 66.9472 37.5075 68.7578 38.274C70.634 39.0722 72.6583 39.4768 74.7018 39.4623C76.8337 39.4623 78.8296 39.066 80.6897 38.2733C82.5026 37.5112 84.1516 36.4158 85.5483 35.0456C86.9376 33.6714 88.0445 32.0459 88.8084 30.2583C89.5949 28.3988 89.9999 26.4043 89.9999 24.3899C89.9999 22.3754 89.5949 20.3809 88.8084 18.5215H88.8114ZM83.7021 28.0658C82.7237 30.3645 80.8751 32.1975 78.5481 33.176C77.3363 33.6738 76.0363 33.93 74.7234 33.93C73.4104 33.93 72.1105 33.6738 70.8987 33.176C69.7426 32.6914 68.6925 31.9912 67.8063 31.1139C66.9244 30.2352 66.2174 29.2016 65.7216 28.0666C65.2146 26.9138 64.9528 25.6708 64.9523 24.4145C68.1672 25.0082 71.431 25.3063 74.7018 25.305C77.9724 25.3061 81.236 25.0077 84.4506 24.4137C84.4521 25.6682 84.1976 26.9102 83.7021 28.0658Z' fill='%23FF3162'%3E%3C/path%3E%3C/g%3E%3Cpath d='M37.3832 35.5246C38.7907 36.8827 40.4517 37.9591 42.2744 38.6942C44.144 39.4612 46.1502 39.8445 48.293 39.844C50.2466 39.844 52.0587 39.5334 53.7293 38.9123C55.4032 38.2893 56.9315 37.3379 58.2216 36.1155C58.5402 35.7998 58.7919 35.4248 58.9623 35.0122C59.1354 34.6143 59.2266 34.1864 59.2306 33.7534C59.2345 33.4013 59.1648 33.0522 59.0257 32.7279C58.8933 32.424 58.7003 32.1494 58.4582 31.9205C58.221 31.6956 57.9433 31.5164 57.6394 31.3921C57.3456 31.2701 57.0303 31.2067 56.7115 31.2053C55.976 31.2053 55.2724 31.5161 54.6007 32.1378C53.7685 32.9161 52.7731 33.5048 51.685 33.8625C50.5906 34.2093 49.4472 34.3822 48.2976 34.3748C46.9851 34.385 45.6837 34.137 44.4695 33.6452C42.1478 32.7162 40.2947 30.9168 39.317 28.6419C38.808 27.4688 38.5505 26.2046 38.5608 24.9287V14.7986H51.0711C51.869 14.7986 52.536 14.5444 53.0721 14.0361C53.3319 13.7954 53.5373 13.5034 53.6749 13.1792C53.8125 12.855 53.8793 12.5058 53.8708 12.1544C53.8761 11.7879 53.8063 11.4242 53.6656 11.085C53.5249 10.7458 53.3162 10.4381 53.052 10.1803C52.7967 9.91536 52.4884 9.70544 52.1466 9.56384C51.8049 9.42224 51.4371 9.35203 51.0664 9.35765H38.5561V3.27014C38.5601 2.89021 38.481 2.5139 38.3242 2.16686C38.1741 1.83513 37.9616 1.53449 37.6979 1.28087C37.4291 1.02825 37.1143 0.82802 36.77 0.690726C36.4228 0.547466 36.0501 0.473606 35.6737 0.473425C35.3067 0.471512 34.9435 0.54554 34.6074 0.690726C34.2727 0.835377 33.9687 1.04103 33.7113 1.29689C33.4503 1.55537 33.2428 1.86147 33.1005 2.19812C32.9547 2.53721 32.88 2.90186 32.8809 3.27014V24.8661C32.8809 26.9797 33.2829 28.9479 34.0871 30.7707C34.8629 32.551 35.9824 34.1656 37.3832 35.5246Z' fill='%23FF3162'%3E%3C/path%3E%3Cpath d='M26.2888 13.9438C24.8885 12.5569 23.2301 11.4491 21.4045 10.6812C19.5339 9.88421 17.528 9.48569 15.3867 9.48569C13.3337 9.47183 11.3002 9.87923 9.41535 10.682C5.72841 12.2388 2.79264 15.1382 1.21948 18.7763C0.418857 20.6446 0.00634766 22.6522 0.00634766 24.6804C0.00634766 26.7087 0.418857 28.7163 1.21948 30.5846C1.99798 32.3849 3.12134 34.0203 4.52798 35.4011C5.93554 36.7755 7.59235 37.877 9.41226 38.6484C11.2981 39.4513 13.3327 39.8585 15.3867 39.8439C17.53 39.8439 19.5365 39.4452 21.4061 38.6476C23.2283 37.8814 24.8856 36.7792 26.2888 35.4003C27.6855 34.0179 28.7982 32.3825 29.5656 30.5838C30.3562 28.7131 30.7633 26.7064 30.7633 24.6797C30.7633 22.653 30.3562 20.6463 29.5656 18.7755C28.7953 16.9739 27.6831 15.3339 26.2888 13.9438Z' fill='%23FF3162'%3E%3C/path%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='30.6' height='30.1752' fill='white' transform='translate(59.3999 9.28748)'%3E%3C/rect%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-color: transparent;

}
img.logo {
    display: none ;
}
body {
    font-family: 'Source Sans Pro' !important;
  font-size: 17px;
}
h1, h2, h3, h4, h5, h6, {
    font-family: 'Source Sans Pro';
    font-weight: bold;
}
p {
    font-family: 'Source Sans Pro';
  font-size: 16px;
}

.btn-info {
    background-color: #FF3162 !important;
}
.form-control:focus {
    box-shadow: 0 0 0 2px #FF3162, 0 15px 15px -7.5px rgba(0,0,0,0.15) !important;
}
.a {
    color: #FF3162 !important;
}
.app-content p {
    color: #1f1f1f;
}
.app-content a {
    color: #FF3162 !important;
}

.menu a.menu-node.active:not(.not-active) {
    color: #FF3162 !important;
}
.menu a {
    color: #1f1f1f !important;
}
.tooltip {
    background-color: #FF3162 !important;
}
.launcher-window {
    background-color: #FF3162 !important;
}
.bg-navy {
    background-color: #FF3162 !important;
}
.text-navy-lightest {
    color: #367cc2 !important;
}

